# Virtual Environment
venv/
.venv/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3

# Static
staticfiles/

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db

# Extra File
hello.html