{% extends "students/base.html" %}
{% block title %}
Student List
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between mb-3">
        <h3 class="mx-3 mt-1">STUDENTS</h3>
        <a class="btn btn-success mt-1 mx-3" href="{% url 'add_student' %}">Add New Student</a>
    </div>
    <div class="container">
        <p>Total Students:
            <strong>{{ page_obj.paginator.count }}</strong>
        </p>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Course</th>
                    <th>Email</th>
                    <th>Roll No.</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for student in page_obj %}
                    <tr>
                        <td>{{ student.id }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.age }}</td>
                        <td>{{ student.course }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.roll_number }}</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{% url 'update_student' student.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'delete_student' student.id %}">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No Students Found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="GET" class="row mb-3">
                <div class="col-md-8">
                    <input
                        type="text"
                        name="q"
                        value="{{ query }}"
                        class="form-control"
                        placeholder="Search by Name, Course, Email or Roll_Number" >
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100">Search</button>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'student_list' %}" class="btn btn-secondary w-100">Reset</a>
                </div>
        </form>

    </div>

{% endblock %}
